.feed {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.post-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: #fefefe;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.post-header p {
    margin: 0;
    font-size: 0.7rem;
    color: gray;
}

.post-media img, .post-media video {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}


.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.post-actions button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.post-actions button img {
    width: 18px;
    height: 18px;
}

.post-actions button:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

button.like {
    background-color: #ffd3e2;
    color: #ff4d6d;
}

button.like:hover {
    background-color: #ffb8cc;
}

button.share {
    background-color: #d6e8ff;
    color: #388bfd;
}

button.share:hover {
    background-color: #b8d8ff;
}
