.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.close-button:hover {
    color: red;
}

.share-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}

.share-options button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
    background: #f0f0f0;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 20%;
}

.share-options button:hover {
    background: #e0e0e0;
}

.share-options img {
    width: 20px;
    height: 20px;
}

.copy-link {
    margin-top: 1.5rem;
}

.copy-link div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.copy-link input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.copy-link button {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}